{% extends "admin/base.html" %}
{% load static %}
{% block content %}

	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h2>Contact Inquiries</h2>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'home_admin' %}">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Contact Inquiries</li>
								</ol>
							</nav>
						</div>
						
					</div>
				</div>
				<div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
                    <div class="row">
                        
                        <div class="col-sm-12">
                            <!--:::::::::::::::::--->
                           
                            <table id="example" class="display responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date Sent</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for contacts in contact %}
                                        <tr>

                                            <td>{{contacts.name}}</td>
                                            <td>{{contacts.date_sent}}</td>
                                            <td>{{contacts.status}}</td>
                                            <td>
                                                <a href="{% url 'contact_us_view' pk=contacts.id %}" class="text-primary">View</a>
                                                <a href="{% url 'contact_us_delete' pk=contacts.id %}" class="text-danger">Delete</a>
                                            </td>
                                            
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            <!--:::::::::::::::::--->
                        </div>
                    </div>
				</div>
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Personal Portfolio By <a href="{% url 'home_admin' %}" >{{detail_instance.firstname}} {{detail_instance.lastname}}</a>
			</div>
		</div>
	</div>
	{% endblock content %}